$breakpoints: (
  "xs": 400px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);

$gallery-width: 100%;
$gallery-height: 500px;

$white: #fff;
$error: #f66;
$error-active: #b74a4a;
$primary: #6292f3;
$success: #28a745;
$info: #76dcef;
