@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import "fontawesome/_fontawesome.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}
