<div class="viewer-wrapper">
  <div class="viewer">
    <button class="viewer-action viewer-action--left">
      <i class="fas fa-chevron-left"></i>
    </button>

    <div class="viewer-main">
      <div class="viewer-img"></div>
      <div class="viewer-mainTitle">
        <div class="mask"></div>
        <div class="viewer-mainTitleContent"></div>
      </div>
    </div>

    <button class="viewer-action viewer-action--right">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>
