@import "src/styles/variables";
@import "src/styles/fontawesome/_fontawesome.css";

:host {
  z-index: 10;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: $white;

  &-mask {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0.4;
  }
}
